<div class="container">
    <!-- if cart is empty -->
    <div ng-if="empty" class="row">
        <div class="text-center container">
            <h3>Your cart is empty!</h3>
        </div>
    </div>
    <!-- if cart is not empty -->
    <div ng-if="!empty" class="row">
        <div class="col-md-12">
            <p class="text-muted lead">You currently have {{cart.length}} item(s) in your cart. <a href="" ng-click="clearCart()">Clear Cart</a></p>
        </div>
        <div class="col-md-9 clearfix" id="basket">

            <div class="box">
                <form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr><!--headers for items in cart-->
                                    <th colspan="2">Product</th>
                                    <th>Quantity</th>
                                    <th>Unit price</th>
                                    <th>Discount</th>
                                    <th colspan="2">Total</th>
                                </tr>
                            </thead>
                            <tbody ng-init="totalCost = 0">
                                <!--repeat all items in cart array -->
                                <tr ng-repeat="item in cart">
                                    <td><!--item image-->
                                        <a href="#">
                                            <img ng-src="{{item.images[0]}}" alt="{{item.name}}">
                                        </a>
                                    </td>
                                    <td><!-- item name -->
                                        <a href="#">{{item.name}}</a>
                                    </td>
                                    <td><!--item quantity --> 
                                        <input type="number" ng-model="quantities[item.sku].quantity" class="form-control">
                                    </td>
                                    <td><!-- item price -->
                                        {{item.price | currency}}
                                    </td>
                                    <td><!-- discount -->
                                        {{item.price * item.discount | currency}}
                                    </td>
                                    <!--total cost for item -->
                                    <td ng-init="costs[$index] = (item.price - (item.price * item.discount)) * quantities[item.sku].quantity; $parent.totalCost = $parent.totalCost + costs[$index]">{{ costs[$index] | currency}}</td>
                                    <td><a ng-href="" ng-click="removeItem($index)"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr><!-- total cost of cart -->
                                    <th colspan="5">Total</th>
                                    <th colspan="2">{{totalCost | currency}}</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.table-responsive -->
                    
                    <div class="box-footer">
                        <!-- continue shopping button -->
                        <div class="pull-left">
                            <a href="/#/shop" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                        </div>
                        <div class="pull-right">
                            <!-- update cart -->
                            <button ng-click="updateCart()" class="btn btn-default"><i class="fa fa-refresh"></i> Update cart</button>
                            <!-- checkout button -->
                            <button ng-click="checkout()" class="btn btn-template-main">Proceed to checkout <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>

                </form>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-md-9 -->
    
        <!-- right side box -->
        <div class="col-md-3">
            <div class="box" id="order-summary">
                <div class="box-header">
                    <h3>Order summary</h3>
                </div>
                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                <!-- show all costs -->
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Order subtotal</td>
                                <th>{{totalCost | currency}}</th>
                            </tr>
                            <tr>
                                <td>Shipping and handling</td>
                                <th>$10.00</th>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <th>$0.00</th>
                            </tr>
                            <tr class="total">
                                <td>Total</td>
                                <th>{{totalCost + 10 | currency}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <!-- coupon code section -->
            <div class="box">
                <div class="box-header">
                    <h4>Coupon code</h4>
                </div>
                <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                <form>
                    <div class="input-group">

                        <input type="text" class="form-control">

                        <span class="input-group-btn">

		    <button class="btn btn-template-main" type="button"><i class="fa fa-gift"></i></button>

		</span>
                    </div>
                    <!-- /input-group -->
                </form>
            </div>

        </div>
        <!-- /.col-md-3 -->

    </div>

</div>
<!-- /.container -->