<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Order Confirmed</h1>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">

        <div class="row">

            <div class="col-md-9 clearfix">

                <div class="box">
                    <h3>Thank you for your order. Your Order number is {{orderNum}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>