<div class="home-page">
    <!-- wrapper photo -->
    <div class="home-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="cover-info">
                    <h1 class="cover-heading"><img src="../../resources/images/logo4.png"></h1>
                    <p class="lead" style="color: #A5CD39">
                        Quality Headgear, made just for you.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- company description setion -->
    <div class="bar background-white">
        <div class="container">
            <div class="col-md-12">


                <div class="row">
                    <!-- first item -->
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-lightbulb-o" style="line-height: 80px;"></i>
                            </div>
                            <h3>Custom Designs</h3>
                            <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
                        </div>
                    </div>
                    <!-- second item -->
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-user" style="line-height: 80px;"></i>
                            </div>
                            <h3>UX</h3>
                            <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect.</p>
                        </div>
                    </div>
                    <!-- third item -->
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-globe" style="line-height: 80px;"></i>
                            </div>
                            <h3>Quality Materials</h3>
                            <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- next section, shows new products -->
    <div class="bar backgroumd-white">
        <div class="container">
            <h3 class="text-center">Newly Added Products</h3>
            <div ng-repeat="item in allItems" class="col-md-4 col-sm-6">
                <div class="product">
                    <div class="image">
                        <a ng-href="/#/shop/{{item.sku}}">
                            <img ng-src="{{item.images[0]}}" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a ng-href="/#/shop/{{item.sku}}">{{item.name}}</a></h3>
                        <p class="price">{{item.price | currency}}</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        </div>
    </div>
</div>