<div class="home-page">
    <!-- *** HOMEPAGE CAROUSEL ***
_________________________________________________________ -->
    <!--<div style="background-color: rgba(0,0,12,0.5); vertical-align: middle; height: 100%;">
        <div uib-carousel id="#myCarousel" active="0" interval="5000">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" ng-class="{'active': $index == 0}">
                <img ng-src="{{slide.image}}" style="width: 100%; margin:auto; opacity: .5; background-color: green;">
            </div>
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>PARAGRAPHHHHHHHHHHHH</p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="home-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="cover-info">
                    <h1 class="cover-heading"><img src="../../resources/images/logo4.png"></h1>
                    <p ng-hide="isLoggedIn()" class="lead">
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bar background-white">
        <div class="container">
            <div class="col-md-12">


                <div class="row">
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-lightbulb-o" style="line-height: 80px;"></i>
                            </div>
                            <h3>Custom Designs</h3>
                            <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-user" style="line-height: 80px;"></i>
                            </div>
                            <h3>UX</h3>
                            <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-globe" style="line-height: 80px;"></i>
                            </div>
                            <h3>Quality Materials</h3>
                            <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bar backgroumd-white">
        <div class="container">
            <h3 class="text-center">Newly Added Products</h3>
            <div ng-repeat="item in allItems" class="col-md-4 col-sm-6">
                <div class="product">
                    <div class="image">
                        <a ng-href="/#/shop/{{item.sku}}">
                            <img ng-src="{{item.images[0]}}" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a ng-href="/#/shop/{{item.sku}}">{{item.name}}</a></h3>
                        <p class="price">{{item.price | currency}}</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        </div>
    </div>
    <!--
    <div class="home-carousel">

        <div class="dark-mask"></div>

        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <p>
                                <img src="img/logo.png" alt="">
                            </p>
                            <h1>Multipurpose responsive theme</h1>
                            <p>Business. Corporate. Agency.
                                <br />Portfolio. Blog. E-commerce.</p>
                        </div>
                        <div class="col-sm-7">
                            <img class="img-responsive" src="img/template-homepage.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">

                        <div class="col-sm-7 text-center">
                            <img class="img-responsive" src="img/template-mac.png" alt="">
                        </div>

                        <div class="col-sm-5">
                            <h2>46 HTML pages full of features</h2>
                            <ul class="list-style-none">
                                <li>Sliders and carousels</li>
                                <li>4 Header variations</li>
                                <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                                <li>+ 11 extra pages showing template features</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <h1>Design</h1>
                            <ul class="list-style-none">
                                <li>Clean and elegant design</li>
                                <li>Full width and boxed mode</li>
                                <li>Easily readable Roboto font and awesome icons</li>
                                <li>7 preprepared colour variations</li>
                            </ul>
                        </div>
                        <div class="col-sm-7">
                            <img class="img-responsive" src="img/template-easy-customize.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-7">
                            <img class="img-responsive" src="img/template-easy-code.png" alt="">
                        </div>
                        <div class="col-sm-5">
                            <h1>Easy to customize</h1>
                            <ul class="list-style-none">
                                <li>7 preprepared colour variations.</li>
                                <li>Easily to change fonts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- *** HOMEPAGE CAROUSEL END *** -->
</div>