<!-- page header and breadcrumbs -->
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{item.name}}</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="/#/">Home</a>
                    </li>
                    <li><a ng-href="/#/shop?category={{item.category}}&page=1">{{item.category}}</a>
                    </li>
                    <li><a ng-href="/#/shop?category={{item.category}}&page=1">{{item.subCategory}}</a>
                    </li>
                    <li>{{item.name}}</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">
            <!-- *** RIGHT COLUMN ***
  _________________________________________________________ -->

            <div class="col-sm-3">

                <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">    
                            <li>
                                <a href="/#/shop?category=all&page=1">All  <span class="badge pull-right">123</span></a>
                            </li>
                            <li ng-class="{active: item.category === category}" ng-repeat="category in categories">
                                <a ng-href="/#/shop?category={{category}}&page=1">{{category}}  <span class="badge pull-right">123</span></a>
                            </li>

                        </ul>

                    </div>
                </div>

                <!-- *** MENUS AND FILTERS END *** -->

            </div>
            <!-- /.col-md-3 -->

            <!-- *** RIGHT COLUMN END *** -->

            <!-- *** LEFT COLUMN ***
    _________________________________________________________ -->

            <div class="col-md-9">

                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <!-- main image for item -->
                        <div id="mainImage">
                            <img ng-src="{{item.images[0]}}" alt="" class="img-responsive">
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <form>
                                <!-- price -->
                                <p class="price">{{item.price | currency}}</p>
                                <!-- item quantity -->
                                <p class="text-center center-block">
                                    <input type="number" ng-init="quantity = 1" ng-model="quantity" style="width: 60px" class="form-control center-block">
                                </p>
                                <!-- add to cart button -->
                                <p class="text-center">
                                    <button ng-click="addToCart(item.sku, quantity)" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                    <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart-o"></i></button>
                                </p>
                                <!-- item rating -->
                                <p class="text-center">
                                    <span uib-rating ng-model="itemRating" max="5" read-only="true" on-leave="overStar = null"></span>
                                </p>
                            </form>
                        </div>
                        
                        <!-- additional images -->
                        <div class="row" id="thumbs">
                            <div ng-repeat="image in item.images" class="col-xs-4">
                                <a ng-href="{{image}}" class="thumb">
                                    <img ng-src="{{image}}" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            
                <!-- item information area -->
                <div class="box" id="details">
                    <p>
                        <h4>Product details</h4>
                        <p>{{item.description}}</p>
                        <h4>Material & care</h4>
                        <ul>
                            <li>Polyester</li>
                            <li>Machine wash</li>
                        </ul>
                        <h4>Size & Fit</h4>
                        <ul>
                            <li>One size fits all</li>
                        </ul>
                </div>
                
                <!-- social media section -->
                <div class="box social" id="product-social">
                    <h4>Show it to your friends</h4>
                    <p>
                        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </p>
                </div>  

                <!--rate product section -->
                <div class="box">
                    <h3>Rate this Product!</h3>
                    <p>
                        <span uib-rating ng-model="newRating.rate" max="5" read-only="false"></span>
                    </p>
                    <p>
                        <div style="padding-left:0" class="col-sm-3">
                            <input class="form-control" ng-model="newRating.title" placeholder="Comment Title"></span>
                        </div>
                        <textarea class="form-control" ng-model="newRating.comment" placeholder="Add a Comment!"></textarea>
                    </p>
                    <button class="btn btn-default" ng-click="submitRating(newRating)">Submit</button>
                </div>
                
                <!-- all product ratings -->
                <div class="box">
                    <h3>Product Reviews</h3>
                    <p>

                    <div ng-repeat="review in reviews">
                        <p>
                            <span uib-rating ng-model="review.rate" max="5" read-only="true"></span>
                            <span class="strong">{{review.title}}</span>
                        </p>
                        <small>By {{review.userName}} on {{review.date | date: 'medium'}}</small>
                        <p>{{review.comment}}</p>
                    </div>
                    </p>
                </div>
            </div>
            <!-- /.col-md-9 -->


            <!-- *** LEFT COLUMN END *** -->

            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->